
:root{
    --main-font:'Roboto', sans-serif;
    --logo-font:'Raleway',sans-serif;
    --main-color:#757575;
    --accent-color:#212121;
    --logo-color: #2196F3;  
    --accent-font:#2F303A;
    --text-color:#FFFFFF;
}
body{
    font-family: var(--main-font);    
    color: var(--main-color);
    background-color: #E5E5E5;
    font-style: normal;
    
}
.logo{
    font-family: var(--logo-font);
    color:var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;   
}
.logo:hover,
.logo:focus{
color: var(--logo-color);
}

.logoweb{
    font-family: var(--logo-font);
    color: var(--logo-color);
}

.title{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line:height 3,75em;
    text-transform: uppercase;
}
.title-two{
    color:var(--accent-color);
}
.logo-list{
    font-family: var(--logo-font);
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}
.logo-list:hover,
.logo-list:focus {
    color: var(--logo-color);
}
.logo-listact {
    font-family: var(--logo-font);
    color: var(--logo-color);
}
.logo-listact:hover,
.logo-listact:focus{
color:var(--accent-color);
}
.tel{
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
}
.tel:hover,
.tel:focus{
color: var(--logo-color);
}
.mail{
color: var(--logo-color);
font-weight: 500;
font-size: 14px;
}
.mail:hover,
.mail:focus{
color:var(--accent-color);
}
.section{
    background-color:var(--accent-font) ;
}
.button{
    color: var(--text-color);
    background-color: #2196F3;
    ont-weight: 700;
    font-size: 16px;
    line-height: 1,875em;
    
}
.button:active{
    color:var(--accent-color)
}
.title-details{
    color: var(--accent-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1em;
}
.details{
font-weight: 400;
font-size: 14px;
line-height: 1,5em;
}
.team{
color: var(--accent-color);
font-weight: 500;
font-size: 16px;
line-height: 1,18em;
}
.team-text{

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.town{
    color:var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,5em;
}
.town:hover,
.town:focus{
    color:var(--logo-color);
}
.logof{
    color:var(--text-color);
    text-decoration: none;
}
.logof:hover,
.logof:focus{
     color:var(--logo-color);
}
.footer{
    background-color: var(--accent-font);
}

.danif{
    color:var(--main-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,5em;
}
.danif:hover,
.danif:focus{
    color:var(--logo-color);
}
.wokr{
    color:var(--accent-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,65em;
}

.wokrall{
    color: var(--text-color);
    background-color: var(--logo-color);
    
}
.title-work{
    color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2,25em;
}
.text-wokr{
    color: var(--main-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1,875em;
}